{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        Bonjour , pour demander votre nouveau mot de passe,veuillez entrer votre email :
        {{ form_start(form) }}
        {{ form_row(form.email,{'attr':{'placeholder': "Votre Email"}}) }}
        <button type="submit" class="btn btn-danger">Demander un mot de passe</button>
        {{ form_end(form)}}

    </div>
{% endblock %}
