.table > tbody > tr > td {
    vertical-align: middle;
}

.fas {
    padding: 0.25em;
}


.dropdown-item:hover{
    background-color: #CA2430 !important;
    color : white !important;
    font-weight: bold !important;
}


.bg-redchiefs{
    background-color: #CA2430 !important;
}

.text-redchiefs{
    color: #CA2430 !important;
}

.bg-yellowchiefs{
    background-color: #FFB612 !important;
}

.list-group-item-action:hover{
    background-color: #FFB612 !important;
    font-weight: bold !important;
    color : white !important;
}


/*.container{*/

    /*max-width: none !important;*/
/*}*/

/*.row{*/
    /*margin-right: 0 !important;*/
    /*margin-left: 0 !important;*/
/*}*/

.list-group-item:last-child {
    margin-top: -1px;
}


.table-hover tbody tr:hover{
    background-color: #dbdbdb !important;
}

.navbar-nav {
    font-size: 1.5em;
}



.form-check{
    display: inline !important;
    padding-left: 2rem !important;
}

.pagination_comments{
    display: flex;
}

.btn-signal{
    max-width: 75px !important;
    max-height: 40px !important;
    padding: 2px;

}

.text-moderation{
    font-style: italic;
}


.category{
    border-radius: 41% !important;
}
