<h1> Oubli de mot de passe sur ChiefsFrance</h1>

<p>Bonjour {{ user.username }}vous avez fait une demande d'un nouveau mot de passe.<br>

    Pour en générer un nouveau rendez vous sur ce lien :
    <a href="{{ url("security_newPassword",{token: user.token, id: user.id}) }}">Demande de mot de passe</a>
</p>