{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1> Edition des utilisateurs</h1>
        <table class="table table-striped  text-center table-hover">
            <thead class="bg-danger text-light">
            <tr>
                <th>
                    utilisateur
                </th>
                <th>
                    email
                </th>
                <th>
                    Actions
                </th>
            </tr>
            </thead>
            {% for user in users %}
                <tbody>
                <tr>

                    <td>
                        {{ user.username }}
                    </td>
                    <td>
                        {{ user.email }}
                    </td>
                    <td>


                        <a href="{{ path('security_editmember',{username : user.username}) }}" class="btn btn-success">Editer le profil</a>
                        <a href="#" class="btn btn-danger"><i class="fas fa-trash-alt"></i></a>
                    </td>
                </tr>
                </tbody>
            {% endfor %}
        </table>
    </div>
{% endblock %}

